body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    overflow: hidden; /* Prevents scrollbars during animation */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: -80px; /* Adjusted margin to separate from background */
    animation: slideInFromTop 2s ease-out; /* Medium animation duration */
}

.logo {
    max-width: 300px;
    height: auto;
    margin: 0;
    padding: 0;
    background: transparent; /* Ensures the logo background is transparent */
}

.background-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: -90px; /* Adjust to position the background image */
}

.background-image {
    max-width: 80%; /* Adjust the size as needed */
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slight white background with transparency */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -70px; /* Adjust to position the content over the image */
    animation: slideInFromLeft 2s ease-out forwards; /* Animation for content */
}

h1 {
    font-size: 2em;
    margin: -30px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin: 0;
}


/* For smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 600px) {
    .logo {
        height: 100px;
        width: 100px;
        max-width: 200px; /* Adjust size for smaller screens */
        height: auto;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .background-image {
        max-width: 100%; /* Adjust the size as needed */
        height: auto;
    }

    .container {
        margin-top: 150px;
        /* padding: 20px; Adjust padding for smaller screens */
    }

    h1 {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}
